<div class="row">
  <div class="small-12 large-6 columns">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="small-12 large-6 columns">
    <%= f.label :purchase_limit %>
    <%= f.text_field :purchase_limit %>
  </div>

  <div class="small-12 large-6 columns">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline,
      {
        :ampm => true, 
        :minute_step => 15, 
        :datetime_separator => '<div class="small-4 columns"> &nbsp; </div>', 
        :time_separator => "" 
      }, {
        :class => "small-4 datetime columns"
      } %>
  </div>
</div>