<div class="row">
  <div class="small-12 large-6 columns">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="small-12 large-6 columns">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  
  <div class="small-12 large-6 columns">
    <%= f.label :tickets_required %>
    <%= f.text_field :tickets_required %>
  </div>
</div>