<h1>New Ticket for <%= @event.title %></h1>

<%= form_tag team_event_tickets_path(@team,@event) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@event.price/100) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Ticket for <%= @event.title %>"
          data-amount="<%= @event.price %>"
          data-name="Fannetic"
          data-email="<%= current_fan.email %>"></script>
<% end %>